// Navigation Styles here

// Macros

.flex-row (@justify) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: @justify;
  align-items: flex-end;
}

.format-width {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

@desktop: ~"(min-width: 501px)";


@media screen and @desktop {

nav {
  .flex-row(space-between);
  .format-width ();
  margin: 30px auto;

  a {
    text-decoration: none;
    color: black;
  }

  .left-side {
    font-family: "Indie Flower";
    font-size: 4rem;
  }

  .right-side {
    .flex-row(space-around);
    width: 40%;
    font-size: 1.6rem;
    font-family: "Roboto";
  }
}
}